body {
    font-family: Arial, sans-serif;
    background-color: #f2f6ff;
    color: #000;
    margin: 0;
    padding: 30px;
}

h1 {
    color: #000;
    text-align: center;
}

h2 {
    color: #691ea3;
    border-bottom: 2px solid #691ea3;
    padding-bottom: 5px;
}

p {
    font-size: 18px;
}

ul {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

img {
    border-radius: 10px;
    margin-top: 10px;
}

